@model Member
@{
    Member member = Model;
    ViewBag.Title = "Welcome " + member.FirstName;
    ViewBag.MenuActive = "Badges";
}

@section Footer
{
    @Html.ActionLink("Log Out", "LogOut", "Home", null, new { data_role="button"})
}

@Html.Partial("_MemberMenu")

<h2>Coming Soon: Badges</h2>
