@{
    ViewBag.Title = "Welcome Member";
}

<a data-role="button" href="Profile">My Profile</a>
<a data-role="button" href="Badges">Badges</a>
<a data-role="button" href="Belts">Belts</a>
<a data-role="button" href="LogOut">Log Out</a>

