@model Member
@{
    Member member = Model;
    ViewBag.Title = "Welcome " + member.FirstName;
}

@section HeaderLeft
{
}

@section HeaderRight
{
}

@section Footer
{
}

@section Panels
{
    @Html.Partial("_MemberMenu")
}

<p>Use the menu at the top left to navigate to other member functions.</p>
<p>In the future, you will see news and status updates appear here.</p>
