@model List<CoderDojo.Member>
@{
    ViewBag.Title = "My Kids ";
    List<CoderDojo.Member> members = Model;
}

@section HeaderLeft {
    <a data-rel="back" data-role="button" data-icon="back">Back</a>
}

<div data-role="content">
	<div class="content-primary">
		<ul data-role="listview" data-autodividers="true">
        @foreach (CoderDojo.Member m in members)
        {
            string memId = m.Id.ToString("N");
            <li><a href="MyKid/@(memId)">@m.MemberName</a></li>
        }
        </ul>
    </div>
</div>
