@model List<CoderDojo.AttendanceModel>
@{
    DateTime attendanceDate = ViewBag.AttendanceDate;
    string attendanceDateFormatted = attendanceDate.ToString("yyyy-MM-dd");
    ViewBag.Title = "Attendance " + attendanceDateFormatted;
    ViewBag.MenuActive = "Attendance";
    List<CoderDojo.AttendanceModel> attendance = Model;
    int attendanceCount = attendance.Count(a => a.Present);
}

@section HeaderLeft {
}

@section HeaderTitle {
    <div data-role="controlgroup" data-type="horizontal" data-mini="true">
        <label style="float:left;padding-top: 7px;">Attendance&nbsp;</label>
        <select data-inline="true" id="AttendanceDateSelect">
            @foreach(DateTime dt in ViewBag.SessionDates) {
                string dateFormatted = dt.ToString("yyyy-MM-dd");
                <option @if (dateFormatted == attendanceDateFormatted) { <text>selected='selected'</text>}>@dateFormatted</option>
            }
        </select>
    </div>
}

@section HeaderRight {
    <a href="MemberSignup?Mode=Attendance" data-role="button" data-icon="plus">Signup</a>
}

@section Footer
{
    <div data-role="controlgroup">
        <label>Total Attendance:&nbsp;</label><span id="TotalAttendanceNumber">@attendanceCount</span>
    </div>
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}

@using (Html.BeginForm("Attendance", "Member")) {
		<ul data-role="listview" data-autodividers="true" id="myFilter" data-filter="true" data-filter-placeholder="Search members..." data-filter-theme="a">
        @foreach (CoderDojo.AttendanceModel a in attendance)
        {
            string memId = a.MemberId.ToString("N");
            <li class="ui-corner-none">
                <input type="checkbox" id="P@(memId)" class="custom ui-corner-none"
                @if (a.Present) { <text>checked="checked"</text> } />
                <label for="P@(memId)">@a.MemberName</label>
            </li>
        }
        </ul>
}

<script type="text/javascript">
    (function ($) {
        var updateAttendanceCount = function () {
            var count = $(":checkbox:checked").length;
            $("#TotalAttendanceNumber").html(count);
        }

        $(":checkbox").off().on("change", function () {
            var checkbox = $(this);
            var checked = checkbox.is(':checked');
            updateAttendanceCount();

            // Prevent multiple calls of the same value
            var checkedString = '*' + checked;
            if ($(this).data("sentcheck", checked) != checkedString) {
                $(this).data("sentcheck", checked, checkedString);
                $.ajax("AttendanceChange", {
                    type: "POST",
                    data: {
                        memberId: checkbox.attr("id").substr(1),
                        present: checked,
                        attendanceDate: $("#AttendanceDateSelect").val()
                    }
                });
            }
        });

        $("#AttendanceDateSelect").on("change", function (e) {
            var dateSelected = $("#AttendanceDateSelect").val();
            window.location = "/Mentor/Attendance?attendanceDate=" + dateSelected;
        });

        // Start the SignalR connection
        $.connection.hub.start().done(function () {
        });

        // Receive a notification that someone altered attendance
        $.connection.attendanceHub.client.onAttendanceChange = function (attendanceDate, memberId, present) {
            if ($("#AttendanceDateSelect").val() == attendanceDate) {
                var checkbox = $("#P" + memberId);
                var newChecked = (present == "true");
                //if (checkbox.is(':checked') != newChecked) {
                    var li = checkbox.closest("li");
                    var oldBackgroundColor = li.css("background-color");
                    li.find(".ui-btn-inner").css("transition", "background-color 0.05s").css("background-color", "yellow")
                    setTimeout(function() {
                        checkbox.prop("checked", newChecked).checkboxradio("refresh")
                        updateAttendanceCount();
                        li.find(".ui-btn-inner").css("transition", "background-color 0.5s").css("background-color", oldBackgroundColor)
                    }, 50);
                //}
            }
        };
    })(jQuery);
</script>
