@model Adult
@{
    Adult mentor = Model;
    ViewBag.Title = "Mentor: " + mentor.FirstName;
    ViewBag.MenuActive = "Index";
}


@section HeaderLeft
{
}

@section HeaderRight
{
}

@section Footer
{
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}

<p>This will soon be the place where you'll get the latest dojo news, and see outstanding badge/belt applications.</p>
