@{
    ViewBag.Title = "Welcome Mentor";
}

<a data-role="button" href="Attendance">Attendance</a>
<a data-role="button" href="Members">Members</a>
<a data-role="button" href="Parents">Parents</a>
<a data-role="button" href="LogOut">Log Out</a>

