@model List<CoderDojo.Member>
@{
    ViewBag.Title = "Members ";
    ViewBag.MenuActive = "Members";
    List<CoderDojo.Member> members = Model;
}

@section HeaderLeft {
}
 
@section HeaderRight {
    <a href="MemberSignup" data-role="button" data-icon="plus">Signup</a>
}

@section Footer
{
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}


<div data-role="content">
	<div class="content-primary">
		<ul data-role="listview" data-autodividers="true" id="myFilter" data-filter="true" data-filter-placeholder="Search members..." data-filter-theme="a">
        @foreach (CoderDojo.Member m in members)
        {
            string memId = m.Id.ToString("N");
            <li><a href="Member/@(memId)">@m.MemberName</a></li>
        }
        </ul>
    </div>
</div>
