@model CoderDojo.Adult
@{
    CoderDojo.Adult adult = Model;
    ViewBag.Title = adult.FullName;
    ViewBag.MenuActive = "Parents";
    ViewBag.ParentMenuActive = "Kids";
}

@section HeaderLeft
{
}

@section HeaderRight
{
}

@section Footer
{
}

@section Panels
{
    @Html.Partial("_MentorMenu")
}

@Html.Partial("_ParentMenu")

<ul data-role="listview" data-autodividers="false" data-corners="true" data-inset="true">
    @foreach (CoderDojo.MemberParent mp in adult.MemberParents)
    {
        string memId = mp.MemberId.ToString("N");
        <li><a href="/Mentor/Member/@(memId)">@mp.Member.MemberName</a></li>
    }
</ul>

<a data-role="button" href="#" id="ParentAddKidButton" data-icon="add" data-inline="true">Add Kid</a>

<script type="text/javascript">
    $(function () {
        $("#ParentAddKidButton").click(function (e) {
            e.preventDefault();
            alert("ToDo: Link kid with parent is not quite ready.");
        });
    });
</script>
